/* Styles for small devices */
@media screen and (max-width: 600px) {
  header,main {
    width: 95%;
    margin: auto;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 2%;
  }
  label {
    display: inline-flex;
    cursor: pointer;
  }

  #toggler:checked ~ .items-container {
    max-height: 100%;
  }
  .items-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    position: relative;
    left: 50%;
    padding-left: 2%;
  }
  .nav-items {
    flex-direction: column;
    align-items: baseline;
  }
  /* banner responsive styles for mobile devices */
  .banner {
    padding: 3%;
  }
  .banner-info {
    padding-top: 5%;
  }
  .banner-input-container {
    flex-direction: column;
  }

  .banner-input-container input {
    width: 95%;
  }
  .banner-input-container select,
  button {
    width: 100%;
  }
  .banner-title {
    font-size: 24px;
  }
  /*Our Popular Tours responsive styles for mobile devices */
  .tours-container {
    flex-direction: column;
    width: 98%;
    margin: auto;
  }
  .tour-info{
    width: 95%;
    margin: auto;
  }

  .tour-info button{
    margin-bottom:5% ;
    width: 35%;
   }

   .section-title{
   
    font-size: 24px;
    
  }

/* Simple Perfect responsive styles */
.simple-img{
    position: relative;
  }

  .simple-img img{
    width: 95%;
    margin: auto;
    
   
  }
  .simple-img-info{
    position:absolute ;
    top: 50%;
    text-align: center;
  }

/* destination section styles */
.destination-gallery{
    flex-direction: column;
}
.destination{
    max-width: 90%;
      margin: auto;
}
.destination img{
    width: 100%;
 

}
/* footer responsive styles */

 .footer-title img {
    width: 20%;
}

.footer-container {
    width: 60%;
    margin: auto;
}

.footer-info {

    width: 100%;
    grid-template-areas:
        "p p p"
        "p p p";
}

.social-links {
    width: 75%;
}

.footer-terms {

    grid-template-areas:
        "p p"
        "p p";
}

.text-small {
    width: 50%;
    margin: 0px auto;

}

/* footer section responsive styles end */

}

/* Styles for medium devices */
@media screen and (min-width: 601px) and (max-width: 992px) {
}

/* Styles for large devices */
@media screen and (min-width: 993px) {
}
