@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
}

header,
main {
  max-width: 1280px;
  margin: auto;
}

.text-orange {
  color: #ff5400;
}

/*--------------- navbar styles--------------- */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  padding: 2% 0%;
}

.nav-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.nav-logo {
  width: 4%;
}
.nav-logo-container p {
  color: #131318;
  font-size: 30px;
  font-weight: 800;
}
.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-items li a {
  text-decoration: none;
  margin-right: 25px;
  color: #424247;
}
.nav-items li a:focus,
.nav-items li a:active,
.nav-items li a:hover {
  color: #ff5400;
  text-decoration: underline;
}
.nav-items li:first-child a {
  color: #ff5400;
}
.btn-orange {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  border-radius: 4px;
  background: #ff5400;
  border: #ff5400;
  padding: 9px 20px;
  cursor: pointer;
}

@keyframes bubble {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.btn-orange:hover {
  animation: bubble 0.4s ease-out;
}
#toggler,
label {
  display: none;
}

label i {
  color: black;
}

/* ------------banner section styles---------- */

.banner {
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png") fixed;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 106px 0;
}
.banner-info {
  max-width: 667px;
  margin: 0 auto;
  text-align: center;
}
.banner-title {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}
.banner-info p {
  color: #fff;
  text-align: center;
  line-height: 26px;
  margin-bottom: 30px;
}
.banner-input-container {
  max-width: 800px;
  background: rgba(255, 255, 255, 0.418);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 15px 15px;
  border-radius: 10px;
}
.banner-input-container input,
select {
  padding: 15px 9px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  width: 23%;
}
