@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
}

header,
main {
  max-width: 1280px;
  margin: auto;
}

.text-orange {
  color: #ff5400;
}
.section-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 1.5%;
}
.section-description {
  color: #131318b3;
  line-height: 26px;
}
.section-info {
  text-align: center;
  padding: 0% 29% 4%;
}
/*--------------- navbar styles--------------- */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  padding: 1.5% 0%;
}

.nav-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.nav-logo {
  width: 4%;
}
.nav-logo-container p {
  color: #131318;
  font-size: 30px;
  font-weight: 800;
}
.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-items li a {
  text-decoration: none;
  margin-right: 25px;
  color: #424247;
}
.nav-items li a:focus,
.nav-items li a:active,
.nav-items li a:hover {
  color: #ff5400;
  text-decoration: underline;
}
.nav-items li:first-child a {
  color: #ff5400;
}
.btn-orange {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  border-radius: 4px;
  background: #ff5400;
  border: #ff5400;
  padding: 9px 20px;
  cursor: pointer;
}

@keyframes bubble {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.btn-orange:hover {
  animation: bubble 0.4s ease-out;
}
#toggler,
label {
  display: none;
}

label i {
  color: black;
  font-size: 35px;
}
.fa-magnifying-glass{
  color: white !important;
}
/* ------------banner section styles---------- */

.banner {
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png") fixed;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 106px 0;
}
.banner-info {
  max-width: 667px;
  margin: 0 auto;
  text-align: center;
}
.banner-title {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}
.banner-info p {
  color: #fff;
  text-align: center;
  line-height: 26px;
  margin-bottom: 30px;
}
.banner-input-container {
  max-width: 800px;
  background: rgba(255, 255, 255, 0.418);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  padding: 15px 15px;
  border-radius: 10px;
}
.banner-input-container input,
select {
  padding: 15px 9px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  width: 23%;
}
/* Our Popular Tours section styles  */
.tours-container,
.news-container {
  display: flex;
  margin: 7% 0%;
  justify-content: space-between;
}
.tour-info {
  padding: 0% 5% 0% 1%;
  width: 50%;
}
.tour-info ul {
  padding: 3% 5%;
}
.tours-img img {
  width: 100%;
  height: 85%;
}

.tour-info button {
  margin-top: 5%;
}

/* simple perfect section styles */
.tour-info .bold {
  color: #131318;
  font-weight: 700;
  line-height: 26px;
}
.simple-img {
  position: relative;
}
.simple-img img {
  width: 100%;
  height: 100%;
}
.simple-img-info {
  position: absolute;
  top: 50%;
  left: 30%;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
/* destination-gallery section styles */
.destination-gallery {
  display: flex;
  justify-content: center;
  gap: 9px;
}
.destination {
  position: relative;
}
.destination h3 {
  position: absolute;
  top: 40%;
  left: 40%;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
}

.destination img {
  width: 100%;
  height: 96%;
  object-fit: cover;
  border-radius: 16px;
}
.first {
  width: 620px;
  height: 300px;
}

.second-1 {
  width: 384px;
  height: 286px;
}
.second-2 {
  width: 554px;
  height: 286px;
}
.second-3 {
  width: 304px;
  height: 286px;
}
.last-1 {
  width: 473px;
  height: 300px;
}
.last-2 {
  width: 773px;
  height: 300px;
}

/*  */
.news-info {
  width: 30%;
  margin: auto 0;
  padding: 5%;
  border-radius: 16px;
  border: 1px solid #ff5400;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.news-img img {
  width: 710px;
  height: 422px;
}
.news-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 2%;
}
.news-info button {
  width: 100%;
}
.news-info input {
  padding: 4% 9% 4% 5%;
  border-radius: 4px;
  background: rgba(19, 19, 24, 0.05);
  color: rgba(19, 19, 24, 0.3);
  border: none;
  width: 85%;
}
.news-img {
  position: relative;
}
.news-img-info {
  background: #ff5400;
  width: 30%;
  color: #fff;
  padding: 20px;
  position: absolute;
  border-radius: 10.569px;
  top: 64%;
  left: 62%;
  transform: rotate(-30deg);
  text-align: center;
}


/* extra  latest section starts from here */
.latest-container {
  background-image: url("../Images/Rectangle\ 8.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 77%;
  height: 52vh;
  margin: 80px auto;
  border-radius: 5px;
  color: #FFF;
  text-align: center;
}
.input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
.feature-info {
padding: 9%;
}
.feature-info h3{
color: #fff;
font-size: 40px;
/* margin-bottom: 1%; */

}
.feature-info input {
  padding: 1.3% 5% 1.3% 2%;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;

}

/* choose section styles */
.choose-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
.choose-hotel,
.choose-service,
.choose-guarantee {
  max-width: 43%;
  margin: auto;
  border-radius: 16px;
  padding: 2%;
  margin-bottom: 2%;
}
.choose-hotel {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.choose-service {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.choose-guarantee {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* deals-container section styles */
.deals-first{
  border-radius: 16px;
background: url("../Images/Group\ 39.png"), lightgray 50% ;
/* transform: scaleX(-1); */
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: space-between;
align-items: end;
flex-direction: row-reverse;
margin-bottom: 5%;
}

.middle{
  flex-direction: row; 
  background: url("../Images/Group\ 40.png"), lightgray 50% ;
  /* transform: scaleX(-1); */
}
/* .middle.deals-info-container{
  transform: scaleX(-2);
} */
.deals-info-container{
  max-width: 35%;
  border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
margin: 7%;
padding: 3%;

}
.deals-btn {
  margin: 5%;
  text-align: center;
}
.fa-solid {
  color: #ff5400;
}
.icon-container {
  display: flex;
  /* justify-content: space-between; */
  gap: 6%;
  margin-bottom: 3%;
}
.deals-tour .text-orange {
  padding: 3% 0%;
  font-size: 16px;
  font-weight: 800;
}
/* footer section styles */

footer {
  margin-top: 0px;
  background-color: #1313180d;
  color: #fff;
}

.footer-container {
  width: 70%;
  padding: 65px;
  margin: 0px auto;
  text-align: center;
}

.footer-title {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.footer-title h3 {
  color: #131318;
}
.footer-info {
  font-size: 0.7rem;
  width: 70%;
  margin: 10px auto;
}

footer hr {
  margin: 23px;
}

.social-links .fa-brands {
  margin: 8px;
}

.social-links .fa-facebook {
  color: rgb(60, 60, 173);
}

.social-links .fa-twitter {
  color: blue;
}
.social-links .fa-github {
  color: #131318;
}
.social-links .fa-instagram {
  color: darkorchid;
}

.footer-title img {
  width: 7%;
}

.text-small {
  color: #131318;
  font-size: 14px;
  font-weight: 300;
  display: inline;
}
